USE [master]
GO
/****** Object:  Database [vl6]    Script Date: 4/24/2019 7:31:59 PM ******/
CREATE DATABASE [vl6]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'vl6', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\vl6.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'vl6_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\vl6_log.ldf' , SIZE = 1088KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [vl6].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [vl6]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 4/24/2019 7:31:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Account]    Script Date: 4/24/2019 7:31:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Account](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [varchar](max) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[Fullname] [nvarchar](max) NULL,
	[Point] [float] NULL,
	[Address] [nvarchar](max) NULL,
	[Status] [bit] NULL,
	[Discriminator] [nvarchar](128) NOT NULL,
	[Bday] [nvarchar](max) NULL,
	[Avatar] [nvarchar](max) NULL,
	[TimeCreated] [datetime] NULL,
 CONSTRAINT [PK_dbo.Account] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AccountClaim]    Script Date: 4/24/2019 7:31:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountClaim](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](max) NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
	[IdentityUser_Id] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.AccountClaim] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AccountLogin]    Script Date: 4/24/2019 7:31:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountLogin](
	[UserId] [nvarchar](128) NOT NULL,
	[LoginProvider] [nvarchar](max) NULL,
	[ProviderKey] [nvarchar](max) NULL,
	[IdentityUser_Id] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.AccountLogin] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AccountRole]    Script Date: 4/24/2019 7:31:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountRole](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](max) NULL,
	[IdentityRole_Id] [nvarchar](128) NULL,
	[IdentityUser_Id] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.AccountRole] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Activity]    Script Date: 4/24/2019 7:31:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Activity](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[EventID] [int] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_dbo.Activity] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Configuaration]    Script Date: 4/24/2019 7:31:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Configuaration](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Key] [nvarchar](max) NULL,
	[Value] [nvarchar](max) NULL,
	[status] [bit] NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Configuaration] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Event]    Script Date: 4/24/2019 7:31:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[StartTime] [datetime] NULL,
	[FinishTime] [datetime] NULL,
	[Public] [bit] NULL,
	[Status] [bit] NULL,
	[Longitude] [float] NOT NULL DEFAULT ((0)),
	[Latitude] [float] NOT NULL DEFAULT ((0)),
	[ImageURL] [nvarchar](max) NULL,
	[TimeCreated] [datetime] NULL,
	[OrganizationID] [int] NULL,
	[MaxVolunteer] [int] NULL,
 CONSTRAINT [PK_dbo.Event] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EventComment]    Script Date: 4/24/2019 7:31:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventComment](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EventID] [int] NULL,
	[Content] [nvarchar](max) NULL,
	[Status] [bit] NULL,
	[AccountID] [nvarchar](128) NULL,
	[TimeCreated] [datetime] NULL,
 CONSTRAINT [PK_dbo.EventComment] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EventType]    Script Date: 4/24/2019 7:31:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [bit] NULL,
	[TimeCreated] [datetime] NULL,
 CONSTRAINT [PK_dbo.EventType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EventVolunteer]    Script Date: 4/24/2019 7:31:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventVolunteer](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EventID] [int] NULL,
	[Status] [bit] NULL,
	[AccountID] [nvarchar](128) NULL,
	[Checked] [bit] NULL,
	[TimeCreated] [datetime] NULL,
 CONSTRAINT [PK_dbo.EventVolunteer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EventVolunteerType]    Script Date: 4/24/2019 7:31:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventVolunteerType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EventTypeID] [int] NULL,
	[EventID] [int] NOT NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_dbo.EventVolunteerType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[News]    Script Date: 4/24/2019 7:31:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Content] [nvarchar](max) NULL,
	[ImageURL] [nvarchar](max) NULL,
	[Public] [bit] NULL,
	[Status] [bit] NULL,
	[TimeCreated] [datetime] NULL,
	[Tag] [nvarchar](max) NULL,
	[Creater] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.News] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NewsComment]    Script Date: 4/24/2019 7:31:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewsComment](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NewsID] [int] NOT NULL,
	[Content] [nvarchar](max) NULL,
	[Status] [bit] NULL,
	[AccountID] [nvarchar](128) NULL,
	[TimeCreated] [datetime] NULL,
 CONSTRAINT [PK_dbo.NewsComment] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Organization]    Script Date: 4/24/2019 7:31:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organization](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Content] [nvarchar](max) NULL,
	[Creator] [nvarchar](128) NULL,
	[Status] [bit] NULL,
	[Avatar] [nvarchar](max) NULL,
	[Background] [nvarchar](max) NULL,
	[TimeCreate] [datetime] NULL,
	[Address] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Organization] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrganizationMember]    Script Date: 4/24/2019 7:31:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrganizationMember](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OrganizationID] [int] NULL,
	[Status] [bit] NULL,
	[AccountID] [nvarchar](128) NOT NULL,
	[TimeCreated] [datetime] NULL,
 CONSTRAINT [PK_dbo.OrganizationMember] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Role]    Script Date: 4/24/2019 7:31:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[sysdiagrams]    Script Date: 4/24/2019 7:31:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[sysdiagrams](
	[diagram_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](128) NOT NULL,
	[principal_id] [int] NOT NULL,
	[version] [int] NULL,
	[definition] [varbinary](max) NULL,
 CONSTRAINT [PK_dbo.sysdiagrams] PRIMARY KEY CLUSTERED 
(
	[diagram_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[AccountRole] ([UserId], [RoleId], [IdentityRole_Id], [IdentityUser_Id]) VALUES (N'1f3817ef-ef57-4445-8278-25b194c82164', N'2', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Event] ON 

INSERT [dbo].[Event] ([ID], [Title], [Description], [StartTime], [FinishTime], [Public], [Status], [Longitude], [Latitude], [ImageURL], [TimeCreated], [OrganizationID], [MaxVolunteer]) VALUES (1, N'aaaa', N'aaa', NULL, NULL, NULL, NULL, 0, 0, NULL, CAST(N'2019-01-01 00:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[Event] ([ID], [Title], [Description], [StartTime], [FinishTime], [Public], [Status], [Longitude], [Latitude], [ImageURL], [TimeCreated], [OrganizationID], [MaxVolunteer]) VALUES (2, N'bbbbbbbbbbb', NULL, NULL, NULL, NULL, NULL, 0, 0, NULL, CAST(N'2019-02-02 00:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[Event] ([ID], [Title], [Description], [StartTime], [FinishTime], [Public], [Status], [Longitude], [Latitude], [ImageURL], [TimeCreated], [OrganizationID], [MaxVolunteer]) VALUES (3, N'aaaa', N'aaa', NULL, NULL, NULL, NULL, 0, 0, NULL, CAST(N'2019-01-01 00:00:00.000' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Event] OFF
INSERT [dbo].[Role] ([Id], [Name]) VALUES (N'1', N'User')
INSERT [dbo].[Role] ([Id], [Name]) VALUES (N'2', N'Admin')
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_IdentityUser_Id]    Script Date: 4/24/2019 7:31:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_IdentityUser_Id] ON [dbo].[AccountClaim]
(
	[IdentityUser_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_IdentityUser_Id]    Script Date: 4/24/2019 7:31:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_IdentityUser_Id] ON [dbo].[AccountLogin]
(
	[IdentityUser_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_IdentityRole_Id]    Script Date: 4/24/2019 7:31:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_IdentityRole_Id] ON [dbo].[AccountRole]
(
	[IdentityRole_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_IdentityUser_Id]    Script Date: 4/24/2019 7:31:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_IdentityUser_Id] ON [dbo].[AccountRole]
(
	[IdentityUser_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EventID]    Script Date: 4/24/2019 7:31:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_EventID] ON [dbo].[Activity]
(
	[EventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrganizationID]    Script Date: 4/24/2019 7:31:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrganizationID] ON [dbo].[Event]
(
	[OrganizationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_AccountID]    Script Date: 4/24/2019 7:31:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_AccountID] ON [dbo].[EventComment]
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EventID]    Script Date: 4/24/2019 7:31:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_EventID] ON [dbo].[EventComment]
(
	[EventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_AccountID]    Script Date: 4/24/2019 7:31:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_AccountID] ON [dbo].[EventVolunteer]
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EventID]    Script Date: 4/24/2019 7:31:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_EventID] ON [dbo].[EventVolunteer]
(
	[EventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EventID]    Script Date: 4/24/2019 7:31:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_EventID] ON [dbo].[EventVolunteerType]
(
	[EventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EventTypeID]    Script Date: 4/24/2019 7:31:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_EventTypeID] ON [dbo].[EventVolunteerType]
(
	[EventTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Creater]    Script Date: 4/24/2019 7:31:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_Creater] ON [dbo].[News]
(
	[Creater] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_AccountID]    Script Date: 4/24/2019 7:31:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_AccountID] ON [dbo].[NewsComment]
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_NewsID]    Script Date: 4/24/2019 7:31:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_NewsID] ON [dbo].[NewsComment]
(
	[NewsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Creator]    Script Date: 4/24/2019 7:31:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_Creator] ON [dbo].[Organization]
(
	[Creator] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_AccountID]    Script Date: 4/24/2019 7:31:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_AccountID] ON [dbo].[OrganizationMember]
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrganizationID]    Script Date: 4/24/2019 7:31:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrganizationID] ON [dbo].[OrganizationMember]
(
	[OrganizationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AccountClaim]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AccountClaim_dbo.Account_IdentityUser_Id] FOREIGN KEY([IdentityUser_Id])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[AccountClaim] CHECK CONSTRAINT [FK_dbo.AccountClaim_dbo.Account_IdentityUser_Id]
GO
ALTER TABLE [dbo].[AccountLogin]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AccountLogin_dbo.Account_IdentityUser_Id] FOREIGN KEY([IdentityUser_Id])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[AccountLogin] CHECK CONSTRAINT [FK_dbo.AccountLogin_dbo.Account_IdentityUser_Id]
GO
ALTER TABLE [dbo].[AccountRole]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AccountRole_dbo.Account_IdentityUser_Id] FOREIGN KEY([IdentityUser_Id])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[AccountRole] CHECK CONSTRAINT [FK_dbo.AccountRole_dbo.Account_IdentityUser_Id]
GO
ALTER TABLE [dbo].[AccountRole]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AccountRole_dbo.Role_IdentityRole_Id] FOREIGN KEY([IdentityRole_Id])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[AccountRole] CHECK CONSTRAINT [FK_dbo.AccountRole_dbo.Role_IdentityRole_Id]
GO
ALTER TABLE [dbo].[Activity]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Activity_dbo.Event_EventID] FOREIGN KEY([EventID])
REFERENCES [dbo].[Event] ([ID])
GO
ALTER TABLE [dbo].[Activity] CHECK CONSTRAINT [FK_dbo.Activity_dbo.Event_EventID]
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Event_dbo.Organization_OrganizationID] FOREIGN KEY([OrganizationID])
REFERENCES [dbo].[Organization] ([ID])
GO
ALTER TABLE [dbo].[Event] CHECK CONSTRAINT [FK_dbo.Event_dbo.Organization_OrganizationID]
GO
ALTER TABLE [dbo].[EventComment]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EventComment_dbo.Account_Account_Id] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[EventComment] CHECK CONSTRAINT [FK_dbo.EventComment_dbo.Account_Account_Id]
GO
ALTER TABLE [dbo].[EventComment]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EventComment_dbo.Event_EventID] FOREIGN KEY([EventID])
REFERENCES [dbo].[Event] ([ID])
GO
ALTER TABLE [dbo].[EventComment] CHECK CONSTRAINT [FK_dbo.EventComment_dbo.Event_EventID]
GO
ALTER TABLE [dbo].[EventVolunteer]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EventVolunteer_dbo.Account_Account_Id] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[EventVolunteer] CHECK CONSTRAINT [FK_dbo.EventVolunteer_dbo.Account_Account_Id]
GO
ALTER TABLE [dbo].[EventVolunteer]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EventVolunteer_dbo.Event_EventID] FOREIGN KEY([EventID])
REFERENCES [dbo].[Event] ([ID])
GO
ALTER TABLE [dbo].[EventVolunteer] CHECK CONSTRAINT [FK_dbo.EventVolunteer_dbo.Event_EventID]
GO
ALTER TABLE [dbo].[EventVolunteerType]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EventVolunteerType_dbo.Event_EventID] FOREIGN KEY([EventID])
REFERENCES [dbo].[Event] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EventVolunteerType] CHECK CONSTRAINT [FK_dbo.EventVolunteerType_dbo.Event_EventID]
GO
ALTER TABLE [dbo].[EventVolunteerType]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EventVolunteerType_dbo.EventType_EventTypeID] FOREIGN KEY([EventTypeID])
REFERENCES [dbo].[EventType] ([ID])
GO
ALTER TABLE [dbo].[EventVolunteerType] CHECK CONSTRAINT [FK_dbo.EventVolunteerType_dbo.EventType_EventTypeID]
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD  CONSTRAINT [FK_dbo.News_dbo.Account_Creater] FOREIGN KEY([Creater])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[News] CHECK CONSTRAINT [FK_dbo.News_dbo.Account_Creater]
GO
ALTER TABLE [dbo].[NewsComment]  WITH CHECK ADD  CONSTRAINT [FK_dbo.NewsComment_dbo.Account_Account_Id] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[NewsComment] CHECK CONSTRAINT [FK_dbo.NewsComment_dbo.Account_Account_Id]
GO
ALTER TABLE [dbo].[NewsComment]  WITH CHECK ADD  CONSTRAINT [FK_dbo.NewsComment_dbo.News_NewsID] FOREIGN KEY([NewsID])
REFERENCES [dbo].[News] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NewsComment] CHECK CONSTRAINT [FK_dbo.NewsComment_dbo.News_NewsID]
GO
ALTER TABLE [dbo].[Organization]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Organization_dbo.Account_Creator] FOREIGN KEY([Creator])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[Organization] CHECK CONSTRAINT [FK_dbo.Organization_dbo.Account_Creator]
GO
ALTER TABLE [dbo].[OrganizationMember]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrganizationMember_dbo.Account_Account_Id] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[OrganizationMember] CHECK CONSTRAINT [FK_dbo.OrganizationMember_dbo.Account_Account_Id]
GO
ALTER TABLE [dbo].[OrganizationMember]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrganizationMember_dbo.Account_AccountID] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrganizationMember] CHECK CONSTRAINT [FK_dbo.OrganizationMember_dbo.Account_AccountID]
GO
ALTER TABLE [dbo].[OrganizationMember]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrganizationMember_dbo.Organization_OrganizationID] FOREIGN KEY([OrganizationID])
REFERENCES [dbo].[Organization] ([ID])
GO
ALTER TABLE [dbo].[OrganizationMember] CHECK CONSTRAINT [FK_dbo.OrganizationMember_dbo.Organization_OrganizationID]
GO
USE [master]
GO
